/* training */
.row {
    margin-top: 120px;
}

.card {
    height: 20rem;
    z-index: 0;
}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-size: cover;
    filter: grayscale(100%);
    display: block;
    margin: auto;
    margin-top: -100px;
    z-index: -1;
}

.card-title {
    background-color: #141e4ccc;
    padding: 5px;
    color: var(--orangeColor);
    border-radius: 5px;
    margin-top: -40px;
}